.searchtempest-home input[type="email"]:focus, .searchtempest-home input[type="number"]:focus, .searchtempest-home input[type="password"]:focus, 
.searchtempest-home input[type="search"]:focus, .searchtempest-home input[type="tel"]:focus, .searchtempest-home input[type="text"]:focus, 
.searchtempest-home input[type="url"]:focus, .searchtempest-home textarea:focus, .searchtempest-home select:focus {
  /*border: 0.1rem solid #ccc;*/
}
.searchtempest-home ul,.searchtempest-home ol{
  margin:0px
}
.searchtempest-home a, 
.searchtempest-home a:visited, 
.searchtempest-home a:active {
  color: #06f;
  text-decoration: none;
}
h1.title{
  border:1px solid red;
}
.searchtempest-home .sites{
  float:left;
}
.searchtempest-home ul.sites li{
  display:inline;
}
.searchtempest-home .navigation{
  background: #eee none repeat scroll 0 0;
  border-bottom: 1px solid #ccc;
  border-left:0px;
  border-right:0px;
  border-top:0px;
  font-size: 0.8em;
  font-weight: bold;
  height: 27px;
  margin: 0 0 5px;
  padding: 0.5em 0;
}
.searchtempest-home .navigation .container {
  max-width: 960px;
  min-width: 960px;
  width: 960px;
}
body.searchtempest-home{
  font-family: helvetica,arial,sans-serif;
  line-height: 1;
}
body.searchtempest-home .sites li{
  float: left;
  padding: 0 0.5em;
}
body.searchtempest-home a:hover{
  text-decoration:underline;
  color: #06f;
}
body.searchtempest-home ul.navigation-list li{
  float: left;
  padding: 0 0.5em;
}
body.searchtempest-home .icons {
  float: right;
  margin: 0 0 0 2em;
}
body.searchtempest-home .icons li{
  display: inline;
  padding: 0 0.5em;
}
.navigation .navigation-list {
  float:left;
}
.icons li a:hover{
  text-decoration:none;
}
body.searchtempest-home .header-main{
  margin-bottom: 0.5em;
  width: 898px;
}
.header-main h1{
  display:inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.header-main h1 a{
  /*background: rgba(0, 0, 0, 0) url("../images/searchtempest.png") no-repeat scroll left top;*/
	background: rgba(0, 0, 0, 0) url("../images/searchdemo.png") no-repeat scroll left top;
  display: inline-block;
  height: 60px;
  text-indent: -9999px;
  width: 430px;
}
.page-content .header-main{
  width: 830px;
  margin:0 auto;
}
body.searchtempest-home .header-main .blurb {
  display:inline-block;
  bottom: -1rem;
  margin-left: 1.2em;
  padding-left: 1em;
  position: relative;
  /*text-indent: -1em;*/
  vertical-align: middle;
  width: 434px;
}
body.searchtempest-home .header-main .blurb {
  color: #666;
  font: italic 1.5em/1.1em Georgia,"times new roman",serif;
}

body.searchtempest-home .site-footer .wrapper{
  margin: 0 auto;
  width: 960px;
  font-size: 11px;
  padding: 1px 10px 10px;
}
body.searchtempest-home .main-content-area{
  width:900px;
  margin:0 auto;
}
.site-footer .links{
  margin: 5px 0;
}
body.searchtempest-home .form-container {
  background: #eee;
  padding: 15px;
}
body.searchtempest-home input[type="email"], body.searchtempest-home input[type="number"], 
body.searchtempest-home input[type="password"], body.searchtempest-home input[type="search"], 
body.searchtempest-home input[type="tel"], body.searchtempest-home input[type="text"], 
body.searchtempest-home input[type="url"], body.searchtempest-home textarea, body.searchtempest-home select {
  background-color: #ffffff;
}
body.searchtempest-home .button, body.searchtempest-home button, body.searchtempest-home input[type="button"], 
body.searchtempest-home input[type="reset"], body.searchtempest-home input[type="submit"] {
  background: #606c76;
}
.select-input {
  float: left;
  margin-left: 10px;
  width: 25%;
}
body.searchtempest-home .form-container form{
  margin-bottom:0rem;
}
body.searchtempest-home .form-container select {
  float: left;
  margin-bottom: 5px;
  width:100%;
  line-height:32px;
}
.price-container{
  display:inline-block;
  width:100%;
}
.price-container #minAsk8{
  float:left;
  width:49%;
  margin-right:15px;
}
.price-container #maxAsk8{
  float:left;
  width:49%;
}
.year-container{
  display:inline-block;
  width:100%;
}
.year-container #minYear8{
  float:left;
  width:49%;
  margin-right:15px;
}
.year-container #maxYear8{
  float:left;
  width:49%;
}
.site-footer{
  margin-top:15px;
}
.form-container .select-input{
  
}
/************* New css *******************/
.where-container{
  float: left;
  margin-right: 15px;
  width: 49%;
}
.what-container{
  float: left;
  width: 49%;
}
.two-fields-cont{
  display:inline-block;
  width:100%;
}
.advance-btn{
  color:#06f;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-top: 6px;
  display:inline-block;
  width:135px;
}
.advance-btn:hover{
  cursor:pointer;
  text-decoration:underline;
}
.advance-btn-cont{
  position:relative;
}
.advance-btn:after{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #06f;
  content: "";
  left: 114px;
  position: absolute;
  top: 10px;
}
.hide{
  display:none;
}
.two-fields-cont #location{
  margin-bottom:5px;
  float:left;
  width:70%;
}
.two-fields-cont #search_string{
  margin-bottom:5px;
}
.result .gsc-above-wrapper-area-container .gsc-selected-option-container{
  width:95px !important;
}
.result table.gsc-resultsHeader{
  display:none;
}
.gsc-adBlock {
  display: none !important;
}
.gsc-above-wrapper-area td, .gsc-above-wrapper-area th{
  border:0px;
  padding:0px;
}
.result .gsc-control-cse.gsc-control-cse-en{
  padding-left:0px;
  padding-right:0px;
}
.result .gsc-result-info{
  color:#606c76;
}
.gsc-above-wrapper-area-container{
  margin-bottom:0px;
}
.result .gs-webResult.gs-result a.gs-title:link, 
.result .gs-webResult.gs-result a.gs-title:link b, 
.result .gs-imageResult a.gs-title:link, 
.result .gs-imageResult a.gs-title:link b{
  font-weight:bold;
  color:#06f;
  font-size:16px;
  text-decoration:none;
}
.result .gs-result .gs-title{
  text-decoration:none;
  margin-bottom:10px;
}
.result .gs-result .gs-title:hover{
  text-decoration:underline;
}
.result .gs-result .gsc-table-result{
  margin-bottom:0px;
}
.result .gsc-table-result td, .result .gsc-table-result th{
  border:0px;
}
.result .gsc-results{
  display:block;
  width:100%;
}
.result .gsc-results .gsc-cursor-box .gsc-cursor-page{
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #06f;
  font-weight: bold;
  margin-right: 7px;
  width:32px;
  height:32px;
  line-height:31px;
  display:inline-block;
}
.result .gsc-cursor-box.gs-bidi-start-align{
  text-align:center;
  margin-top:23px;
}
.result .gsc-results .gsc-cursor-box .gsc-cursor-page.gsc-cursor-current-page{
  background:#eee;
  color:#606c76;
}
.result .gsc-webResult.gsc-result{
  border-bottom:1px solid #cccccc;
  padding-bottom: 10px;
  padding-top: 20px;
}
.result .gsc-results .gsc-cursor-box .gsc-cursor-page:hover{
  background:#eee;
  color:#606c76;
}
.result .gsc-webResult.gsc-result:hover{
  border-bottom:1px solid #cccccc;
}
.result .gsc-above-wrapper-area {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}
.result .gs-no-results-result .gs-snippet{
  color:#606c76;
  padding:15px;
}
.result h3{
  font-size:1.5em;
  margin-bottom:0px;
  margin-top:10px;
  margin-left:10px;
}
.result .gsc-control-cse{
  padding-top:0px;
}
.result .gsc-above-wrapper-area {
  padding: 0 0 10px;
}
.back-to-top {
  bottom: 20px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.33333;
  padding: 10px 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ffffff;
  border:1px solid #cccccc;
  color: #06f;
}
#back-to-top:hover{
  background:#eee;
  color: #606c76;
}

