<footer class="site-footer">

  <div class="wrapper">

    
    <div class="container">
		<div class="links">
            <a href="#">Home</a> ·
            <a href="#">About</a> ·
            <a href="#">New and Soon Blog</a> ·
            <a href="#">Privacy/Legal</a> ·
            <a href="#">Help</a> ·
            <a href="#">Contact</a>
        </div>
		<div class="copy-info">
            &copy;2006-2016 SearchDemo<br>SearchDemo.com is in no way affiliated with craigslist&reg;
        </div>

    </div>  
  </div>
  <!-- jQuery 2.1.4 -->
    <script src="{{site.baseurl}}/js/core/jQuery-2.1.4.min.js"></script>
	<script src="{{site.baseurl}}/js/custom.js"></script>

</footer>
