<footer class="site-footer">

  <div class="wrapper">

    
    <div class="container">
		<div class="links">
            <a href="/">Home</a> ·
            <a href="/about">About</a> ·
            <a href="/ext/tempestblog.com/news">New and Soon Blog</a> ·
            <a href="/help/privacy">Privacy/Legal</a> ·
            <a href="http://support.searchtempest.com/hc/">Help</a> ·
            <a href="/contact">Contact</a>
        </div>
		<div class="copy-info">
            &copy;2006-2016 SearchTempest<br>SearchTempest.com is in no way affiliated with craigslist&reg;
        </div>

    </div>  
  </div>
  <!-- jQuery 2.1.4 -->
    <script src="{{site.baseurl}}/js/core/jQuery-2.1.4.min.js"></script>
	<script src="{{site.baseurl}}/js/custom.js"></script>

</footer>
