<nav class="navigation">
  <section class="container">
    <ul class="left-section sites">
		 <li>
			<a href="#">SearchDemo</a>
		</li>
		<li>
			<a href="#">Auto</a>
		</li>
    </ul>
	<div class="right-section float-right">
		<ul class="navigation-list">
		  <li class="navigation-item">
			<a class="navigation-link ab" href="#" data-popover>Forums</a>
		  </li>
		   <li class="navigation-item">
			<a class="navigation-link" href="#" data-popover>Development Blog</a>
		  </li>
		   <li class="navigation-item">
			<a class="navigation-link" href="#" data-popover>Help</a>
		  </li>
		</ul>
		<ul class="icons">
		  <li>
			<a href="#">
			  <img src="{{site.baseurl}}/images/facebook.png">
			</a>
		  </li>
		  <li>
			<a href="#">
			  <img src="{{site.baseurl}}/images/gp.png">
			</a>
		  </li>
		</ul>
    </div>
  </section>
</nav>